* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 10px;
  background: #ff4848;
}
.topnav {
  overflow: hidden;
  background-color: #000000;
  margin: 0px;
  list-style: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
}
.topnav ul li {
  list-style: none inside;
}
/* Định dạng link điều hướng */
.topnav a {
  float: left;
  display: block;
  color: #ff0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Thay đổi màu liên kết khi di chuột qua */
.topnav a:hover {
  background-color: #ffffff;
  color: rgb(255, 0, 0);
}

.container {
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submenu {
  width: 130px;
  position: absolute;
  display: none;
  border-radius: 5px;
  margin: 0px;
  padding: 10px 5px 10px 5px;
  border: 1px solid gray;
  list-style: none;
  box-shadow: 0 0 5px gray;
  background-color: rgb(228, 226, 226);
}
.submenu > li > a {
  display: block;
  color: black;
  font-size: 17px;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
  border-bottom: 1px dottedblack;
}
.submenu > li > a:hover {
  color: red;
  font-weight: bold;
}
.container header img {
  width: 100%;
  height: 450px;
  margin-top: 10px;
}
.container .list-course {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  background-color: snow;
}
.container .list-course .lienhe {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
}
.container .list-course .lienhe p {
  font-size: 18px;
}
.container .list-course .course {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.container .list-course .course form {
  width: 100%;
  text-align: center;
  margin: 0px;
  border-radius: 5px;
}
.container .list-course .course .input {
  padding-left: 10px;
  margin: 0px 10px;
  width: 45%;
  height: 50px;
}
.container .list-course .course .content1 {
  margin-left: 50px;
  width: 92%;
  padding: 0px;
}
.container .list-course .course .content1 .form-control {
  width: 100%;
  padding-left: 10px;
  height: 50px;
  margin: 0px;
}
.container .list-course .course .content2 {
  width: 10%;
  text-align: center;
  height: 30px;
  margin-left: 5px;
}

.container .list-course .course .content {
  width: 34%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  text-align: center;
}
.container .list-course .course .content {
  font-size: 18px;
}
.container .list-course .course img {
  width: 100%;
}
input[type="submit"] {
  background-color: gray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: black;
}

/* Footer */
.footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 50px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer .noi-dung {
  margin-right: 30px;
}
.footer .noi-dung.about {
  width: 30%;
}
.footer .noi-dung.about p {
  color: rgb(0, 0, 0);
}
.footer .noi-dung.about h2 {
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-bottom: 15px;
}
.footer .noi-dung.about h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
}
.links h2 {
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-bottom: 15px;
}
.links h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
}
.links {
  position: relative;
  width: 30%;
}
.links div p {
  list-style: none;
}
.links div p a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.links div p a:hover {
  color: rgb(255, 0, 0);
}
.contact h2 {
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-bottom: 15px;
}
.contact h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
}
.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}
.contact .info {
  position: relative;
}
.contact .info li {
  display: flex;
  margin-bottom: 16px;
}

.contact .info li span {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.contact .info li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
